<html>
<h2>Photos and Comments</h2>
<div>
  <% @photos_all.each do |photo| %>
    <h3>Photo:</h3>
    <%= image_tag photo.file_name %>
    <i>Created on:</i> <%= photo.date_time %><br>
    <% @comments_all = photo.comments %>
    <h3>Comments:</h3>
    <% @comments_all.each do |comment| %>
      <ul><li><%= comment.comment_text %>
       &nbsp <i>Posted by: </i><b><%= comment.user.first_name %></b>&nbsp on &nbsp&nbsp<%= comment.date_time %><br><br></li></ul>
    <% end %>
  <% end %>

</div>
</html>